.cart {
    background-color: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}

.btn-clear-cart {
    display: flex;
    margin: 10px auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: white;
    background: #FF3030;
    padding: 5px 10px;
}

.btn-clear-cart span {
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}