.cart {
    background-color: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart .cart-title {
    font-size: 50px;
}

.cart .cart-details {
    font-size: 21px;
}

.btn-clear-cart {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: white;
    background: #FF3030;
    padding: 5px 10px;
    margin-bottom: 16px;
}

.btn-clear-cart span,
.btn-proceed span {
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}

.btn-proceed {
    width: 90%;
    border-radius: 10px;
    color: white;
    background: #F90;
    padding: 5px 10px;
}
.btn-proceed a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}